discord.py>=1.3.3
geocoder>=1.38.1
giphypop>=0.3
google-api-core >= 1.22.2
google-api-python-client>=1.9.3
google-auth-httplib2>=0.0.3
google-auth-oauthlib>=0.4.1
python-dateutil>=2.8.0
python-forecastio>=1.3.5
pyRFC3339>=1.1
pytest
git+https://github.com/nalabelle/discord-bot@master#egg=dataclasses-yaml&subdirectory=shared/dataclasses_yaml
git+https://github.com/nalabelle/discord-bot@master#egg=datafile&subdirectory=shared/datafile
git+https://github.com/nalabelle/discord-bot@master#egg=file-secrets&subdirectory=shared/file_secrets
